.card {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

.card__image {
  width: 280px;
  height: 280px;
  border-radius: 8px;
}

.card__description {
  font-size: 14px;
  max-width: 280px;
}

.card__list {
  padding: 0;
  margin: auto 20px;
  font-size: 20px;
  color: crimson;
}

li {
  margin: 10px;
}
